:root {
  --primari-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primari-beckground: #e5e5e5;
  --header-beckground: #ffffff;
  --footer-beckgeround: #2f303a;
}
.header {
  background-color: var(--header-beckground);
}
.logo {
  color: var(--accent-color);
}
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.auth-nav .link {
  color: var(--primari-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
.hero {
  background-color: var(--footer-beckgeround);
}
.hero-title {
  color: #ffffff;
}
.button {
  background-color: var(--accent-color);
  color: var(--header-beckground);
}
body {
  background-color: var(--primari-beckground);
  color: var(--primari-text-color);
}
.section-title {
  color: var(--title-text-color);
}
